.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
    gap: 20px; /* Adjust the space between elements as needed */
    justify-content: space-between; /* Distribute items evenly along the row axis */
    align-items: center; /* Center items vertically within the grid cells */
  }
  
  /* Style for Button and WebcamStreamCapture elements (adjust as needed) */
  Button, WebcamStreamCapture {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }

.back-button {
    grid-row: 1;
    grid-column: 1;
}

.next-button {
    grid-row: 1;
    grid-column: 3;
}